h1{
    font-size: 2.4em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
p{
    margin: 0 0 1.5em;
}
#main-content .banner{
    margin-left: 400px;
    max-width: auto;
    height: auto;
}
#logo{
    border-width: medium;
    border-color: black;
    max-width: 65%;
    height: auto;
}
#main-header{
    background: rgba(82, 79, 79, 0);
    color: black;
    height: 80px;
    
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: absolute; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header a{
    color: white;
}
#logo-header{
    float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
/*
 * Navegación
 */
nav{
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
#main-content {
	background: white;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
        align-items: center;
        align-self: center;
	}
.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 1em;
    color: #ffffff;
    background-color: gray;
    border-radius: 6px;
    border: 10px;
    align-content:center;
    margin-left: 300px;
}
.boton:hover{
    background-color: white;
    color: black;
    border-color: black;
}
#main-footer {
    background: #333;
	color: white;
	text-align: right;
	padding: 20px;
	margin-top: 40px;
}
}
	#main-footer p {
		margin: 0;
}
body {
    background-image: url(negro.jpg);
    background-repeat:repeat-y;
    background-position: center;
    background-size:cover;
    margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
h2{
   font-size: 2.4em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
#main-content .contenedor{
    position:inherit;
    display:block;
    text-align: center;
}
#main-content .texto{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: none;
}
#a1{
    margin-top: auto;
    margin: auto;
    align-content: center;
    width: 100%;
    height: 80%;
    
}
.button{
    position:inherit;
    background-image: url(a1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    background-size:cover;
    border-radius: 10px;
    color: white;
    font-size: 2.5em;
}
.button2{
    position:inherit;
    background-image: url(proceso.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    background-size:cover;
    border-radius: 10px;
    color: black;
    font-size: 2.5em;
}
#back{
    margin-top: auto;
    margin:auto;
    align-content: center;
    width: 100%;
    height: 100%;
}
h3{
    text-align: left;
}
#buttoni{
    background-color:gray;
    position: inherit;
    text-align: center;
    border-radius: 10px;
    color: white;
    border-color:gray;
}
#buttoni:hover{
    background-color:rgba(255, 255, 255, 0);
    color:black;
    border-color:black;
}
#main-content .but1,#main-content .but2{
    display: inline;
}