h1{
    font-size: 2.4em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
p{
    margin: 0 0 1.5em;
}
#main-content .banner{
    margin-left: 400px;
    max-width: auto;
    height: auto;
}
#logo{
    border-width: medium;
    border-color: black;
    max-width: 65%;
    height: auto;
}
#main-header{
    background: rgba(82, 79, 79, 0);
    color: black;
    height: 80px;
    
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: absolute; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header a{
    color: white;
}
#logo-header{
    float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
/*
 * Navegación
 */
nav{
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
#main-content {
	background: white;
	text-align: center;
    width: 100%;
    height: auto;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
        align-items: center;
        align-self: center;
	}
.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 1em;
    color: #ffffff;
    background-color: gray;
    border-radius: 6px;
    border: 10px;
    align-content:center;
    margin-left: 300px;
}
.boton:hover{
    background-color: white;
    color: black;
    border-color: black;
}
#main-footer {
	background: #333;
	color: white;
	text-align: right;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	background-image: url(back.jpg);
    background-repeat:repeat-y;
    background-size:contain;
    background-position:center;
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
h2{
   font-size: 2.4em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
#main-content .contenedor{
    position:inherit;
    display:block;
    text-align: center;
}
#main-content .texto{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    border: none;
}
#main-footer .bib{
  font-size: 0.8em;
  text-align: left;
}
#a1{
    margin-top: auto;
    margin: auto;
    align-content: center;
    width:100%;
    height:auto;
    
}
.button{
    position:inherit;
    background-image:url(a1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
    background-size:cover;
    border-radius: 50px;
    color: white;
    font-size: 2.5em;
}
.button2{
    position:inherit;
    background-image:url(proceso.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
    background-size:cover;
    border-radius: 50px;
    color: black;
    font-size: 2.5em;
}
.button3{
    position:inherit;
    background-image:url(proceso1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
    background-size:cover;
    border-radius: 50px;
    color: black;
    font-size: 2.5em;
}
#subtitulo{
    text-align: left;
}
#m{
  margin-top: auto;
    margin: auto;
    align-content: center;
    width: 80%;
    height: auto;
}
#lista{
    text-align: left;
}
#t{
  margin-top: auto;
    margin: auto;
    align-content: center;
    width: 95%;
    height: 65%;
}
#t1{
  margin-top: auto;
    margin: auto;
    align-content: center;
    width: 50%;
    height: auto;
}
#t2{
  margin-top: auto;
    margin: auto;
    align-content: center;
    width: 50%;
    height: auto;
}
#linea{
    position: inherit;
    align-self: center;
}
#persona{
    align-self: center;
    width: 400px;
    height: 400px;
    border-radius: 200px;
}
#alinear{
    text-align: left;
}
#alinear1{
    text-align: right;
}
#gains{
    float: left;
    margin-right:20px;
    height: 50%;
    width: auto;
}
#pain{
    float:right;
    margin right:400px;
    height: 50%;
    width:auto;
}
#work{
    float: left;
    margin-right:20px;
    height: 50%;
    width: auto;
}
#fb{
  align-content: center;
 align-self: center;
    align-items: center;
    width:30px;
    height: 30px;
}
#tb{
  margin-top: auto;
    margin: auto;
    align-content: center;
    width: 75%;
    height: 90%;
}
#insu{
    width: 110%;
    height: 50%;
}
#pre{
    width: 80%;
    height:40%;
}
.infogram-embed {
    align-self: center;
    align-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}